[user]
	email = nevmn21@gmail.com
	name = Maxim Neverov
[core]
  whitespace = blank-at-eol, space-before-tab, tab-in-indent, blank-at-eof
[pull]
	rebase = true
  ff = only
[rebase]
  autoSquash = true
[log]
  date = iso8601
[diff]
  algorithm = histogram
  tool = nvimdiff
  colorMoved = default
  colorMovedWS = allow-indentation-change
[grep]
  lineNumber = true
[merge]
  tool = nvimdiff
  conflictStyle = zdiff3
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[http "http://git.community.i2p"]
  proxy = http://127.0.0.1:4444
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
