Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.rgba:       rgb

*.background: #000000
*.foreground: #c1c1c1
*.cursorColor:  #c1c1c1
*.color0: #000000
*.color1: #5f8787
*.color2: #c1c1c1
*.color3: #888888
*.color4: #aaaaaa
*.color5: #999999
*.color6: #ffffff
*.color7: #c1c1c1
*.color8: #505050
*.color9: #5f8787
*.color10: #c1c1c1
*.color11: #888888
*.color12: #aaaaaa
*.color13: #FFFFFF
*.color14: #FFFFFF
*.color15: #c1c1c1
*.color16: #aaaaaa
*.color17: #5f8787

XTerm*faceName:         FiraCode Nerd Font
XTerm*faceSize:         11
XTerm*antialias:        true
XTerm*renderFont:       true
XTerm*boldMode:         false
XTerm*fullscreen:       never
XTerm*omitTranslation:  fullscreen

UXTerm*faceName:    FiraCode Nerd Font
UXTerm*faceSize:    12
UXTerm*antialias:   true
UXTerm*renderFont:  true
UXTerm*boldMode:    false

Xcursor*theme: Adwaita
